body{
    background-color: #333;
    font-family: 'Courier New', Courier, monospace;
    display : flex-column;
}

.nav{
    background-color: #333;
    color: white;
    padding: 0px;
    text-align: center;
}

.span_nav{
    color: white;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

.grid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.grid-item{
    color: white;
    text-align: center;
    border: white 1px solid;
    transition: all 0.5s;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 100%;
    height: 50px;
    width: 50px;

}

.grid-item:hover{
    background-color: #333;
    color: green;
    border: green 1px solid;
}

.circle-red{
    background-color: red;
    border: red 1px solid;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.circle-yellow{
    background-color: yellow;
    border: yellow 1px solid;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}